.bg-nav{background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.content-midle{margin-top: 40px;}
.test{width: 100%; margin-top: 20px;}
.border{border-top: 2px solid;}
.imageproduct{height: 250px !important;}
.footer{background-color: black; height: 40px;}
.mt-30{margin-top: 40px !important;}
.topcard{margin-top: 30px;}
.cartbutton{margin-top: 20px;}
.deskripsiproduk{margin-top: 30px;}